command_prefix: "!sb"

matrix_homeserver: "https://matrix.org"
matrix_username: "@username:example.com"
matrix_password: "password"

matrix_bot_name: "Telegram stickers bot"

telegram_api_id: 1234567
telegram_api_hash: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
telegram_bot_token: "1234567890:aaaaaaaaaaaaaaaaaaaaaa--aaaaaaaaaaa"

log_level: INFO
