# api_id and api_hash can be obtained from https://my.telegram.org/apps
# bot token can be obtained by talking to https://t.me/botfather
telegram_api_id: 1234567
telegram_api_hash: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
telegram_bot_token: "1234567890:aaaaaaaaaaaaaaaaaaaaaa--aaaaaaaaaaa"

# Creditials for the Matrix account to being used by the bot
# Please use dedicated, freshly created one
matrix_homeserver: "https://matrix.org"
matrix_username: "@username:matrix.org"

# Choose a login type for a bot, "password" or "access_token"
matrix_login_type: "access_token"

# If using "password", use this
matrix_password: "password"
matrix_bot_name: "Telegram stickers bot"

# If using "access_token", use this
# How to get access_token: https://t2bot.io/docs/access_tokens/
matrix_token: "syn/mct_XXXXXXXXXXXXXXXXXX"
# How to get current session id:
# 1. Click the "Sessions" tab (left side of the dialog).
# 2. Click on the current session.
# 3. Copy "Session ID" string
matrix_deviceid: "A1sbDXXX"

command_prefix: "!sb"

# Default Parameters Configuration of commands

import:
  primary: True
  json: True
  update_pack: True

preview:
  space: null # string or null
  preview_url_base: null # string or null
  update_room: True

log_level: INFO
